---
// GameBoard is now rendered dynamically via JavaScript to support daily word length changes
---

<div id="game-board" class="flex flex-col gap-1 items-center">
  <!-- Board tiles are generated dynamically in Game.astro script -->
</div>
